# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env
.env.*
.env.tests
.env.tests.*

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp

# Misc
*.log
.DS_Store

# Test
.pytest_cache/
htmlcov/
.coverage
